.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  top: 0;
  z-index: 120;
  transition: .8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  opacity: 0;
}
.preloader__heading-title {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  line-height: 61px;
}
.preloader__heading-title span {
  font-weight: 700;
}
.preloader__heading-text {
  color: #fff;
  font-weight: 300;
  font-size: 27px;
  line-height: 33px;
}
@media (max-width: 550px) {
  .preloader__heading-title {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    line-height: 21px;
  }
  .preloader__heading-title span {
    font-weight: 700;
  }
  .preloader__heading-text {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    line-height: 33px;
  }
}
.header {
  padding: 40px 0px 0 0;
  position: fixed;
  left: 90vw;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
}
.header__nav {
  padding: 200px 0 0 0;
}
.header__nav-list {
  border: 1px solid #fff;
  border-radius: 23px;
  padding: 40px 10px;
}
.header__nav-item {
  margin: 0 0 40px 0;
}
.header__nav-item:last-child {
  margin: 0 0 0 0;
}
.header__nav-link {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__nav-link svg {
  width: 20px;
  height: 20px;
}
.header__nav-link:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
          fill: #008C6B;
}
a.active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
          fill: #008C6B;
}
@media (max-width: 1250px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.121);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger-black {
    display: none;
  }
  .burger-white {
    display: block;
  }
  .burger {
    padding: 10px 0 0 30px;
    display: block;
    margin-bottom: 150px;
    width: 40px;
    height: 22px;
    z-index: 100;
  }
  .burger img {
    width: 40px;
    height: 22px;
  }
  .header__nav {
    padding: 0 0 0 0;
    -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
            transform: translateX(300%);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__nav--open {
    opacity: 1;
    -webkit-transform: translate(75%, -20%);
      -ms-transform: translate(75%, -20%);
          transform: translate(75%, -20%);
    background-color: #000;
    border-radius: 23px;
    z-index: 170;
  }
}
@media (max-height: 1080px) {
  .header {
    padding: 70px 0px 0 0;
    position: fixed;
    left: 90vw;
  }
}
@media (max-height: 900px) {
  .header {
    padding: 10px 0px 0 0;
    position: fixed;
    left: 90vw;
  }
}
@media (max-width: 950px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.116);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger {
    position: absolute;
    top: 15px;
    right: 70px;
    padding: 20px 0 0 30px;
    display: block;
    margin-bottom: 150px;
    width: 40px;
    height: 22px;
    z-index: 100;
  }
  .burger img {
    width: 40px;
    height: 22px;
  }
  .header__nav {
    padding: 0 0 0 0;
    -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
            transform: translateX(300%);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__nav--open {
    opacity: 1;
    -webkit-transform: translate(-98%, 30%);
        -ms-transform: translate(-98%, 30%);
            transform: translate(-98%, 30%);
    background-color: #000;
    border-radius: 23px;
    z-index: 170;
  }
}
@media (max-height: 700px) {
  .aside__map-box {
      display: none;
  }
}
.aside {
  padding: 70px 0 0 0;
  height: 100vh;
  position: fixed;
  width: 300px;
}
.tel-black {
  display: none;
}
.tel-white {
  display: block;
}
.aside__heading {
  margin-bottom: 10px;
}
.aside__heading-title {
  font-size: 38px;
  font-weight: 300;
  line-height: 60.51px;
  white-space: nowrap;
}
.aside__heading-title span {
  font-weight: 700;
}
.aside__heading-text {
  margin-top: -10px;
  font-weight: 300;
  font-size: 25px;
  line-height: 33px;
}

.aside__image-box {
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}
.aside__image-box img {
  width: 300px;
  height: 300px;
}

.aside__icon {
  margin-bottom: 15px;
}
.aside__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__icon-item {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.aside__icon-item:hover {
  border: 1px solid #008C6B;
  background-color: #008C6B;
}
.aside__icon-link {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside__icon-link img {
  width: 20px;
  height: 20px;
}
.be {
  -webkit-transform: translate(1px, 3px);
      -ms-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
  width: 20px;
  height: 20px;
}
.be img {
  height: 15px;
}

.aside__map-box {
  margin-bottom: 15px;
}

.aside__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__btn {
  padding: 13px;
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.aside__btn:hover {
  color: #fff;
  background-color: #008C6B;
  border: 1px solid #008C6B;
}
.aside__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

@media (max-height: 1300px) {
  .aside {
    padding: 0px 0 0 0;
    height: 100vh;
    position: fixed;
    width: 380px;
  }
  .aside__heading {
    margin-bottom: 10px;
  }
  .aside__heading-title {
    font-size: 50px;
  }
  .aside__heading-text {
    font-size: 27px;
  }
  .aside__image-box {
    margin-bottom: 20px;
    width: 380px;
    height: 380px;
  }
  .aside__image-box img {
    width: 380px;
    height: 380px;
  }
  .aside__icon {
    margin-bottom: 20px;
  }
  .aside__icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aside__icon-item {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 16px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .aside__icon-item:hover {
    border: 1px solid #00ACB7;
    background-color: #00ACB7;
  }
  .aside__icon-link {
    display: block;
    width: 23px;
    height: 23px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .aside__icon-link img {
    width: 23px;
    height: 23px;
  }
  .be {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    width: 23px;
    height: 23px;
  }
  .be img {
    height: 17px;
  }
  .aside__map-box {
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .aside__map-box iframe {
    border-radius: 15px;
  }
  .aside__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside__btn {
    padding: 13px;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .aside__btn:hover {
    color: #fff;
    background-color: #008C6B;
    border: 1px solid #008C6B;
  }
}
@media (max-height: 900px) {
  .aside {
    padding: 0 0 0 0;
    height: 100vh;
    position: fixed;
    width: 300px;
  }
  .aside__heading {
    margin-bottom: 10px;
  }
  .aside__heading-title {
    font-size: 38px;
    font-weight: 300;
    line-height: 60.51px;
    white-space: nowrap;
  }
  .aside__heading-title span {
    font-weight: 700;
  }
  .aside__heading-text {
    margin-top: -10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
  }
  .aside__image-box {
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
  }
  .aside__image-box img {
    width: 300px;
    height: 300px;
  }
  .aside__icon {
    margin-bottom: 15px;
  }
  .aside__icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aside__icon-item {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .aside__icon-item:hover {
    border: 1px solid #00ACB7;
    background-color: #00ACB7;
  }
  .aside__icon-link {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .aside__icon-link img {
    width: 20px;
    height: 20px;
  }
  .be {
    -webkit-transform: translate(1px, 3px);
        -ms-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
    width: 20px;
    height: 20px;
  }
  .be img {
    height: 15px;
  }
  .aside__map-box {
    margin-bottom: 15px;
  }
  .aside__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside__btn {
    padding: 13px;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .aside__btn:hover {
    color: #fff;
    background-color: #008C6B;
    border: 1px solid #008C6B;
  }
}
.main__exp {
  padding: 0 0 110px 0;
}
.exp__progress {
  position: relative;
}
.progress {
  position: absolute;
  top: 15px;
  left: 9px;
  width: 0.5px;
  height: calc(96.5% - 1px);
  background-color: #008C6B;
  opacity: 0;
  -webkit-transition: all 7.5s ease 0;
  -o-transition: all 7.5s ease 0;
  transition: all 7.5s ease 0;
}
.progress.active {
  opacity: 1;
  -webkit-animation: progres 2.6s linear;
          animation: progres 2.6s linear;
}

@-webkit-keyframes progres {
  0% {
    height: 0px;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 96.5%;
  }
}

@keyframes progres {
  0% {
    height: 0px;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 96.5%;
  }
}
.circle {
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #008C6B;
}

.circle__active-first {
  margin-bottom: 50px;
  position: relative;
  -webkit-transform: translate(0, 70%);
      -ms-transform: translate(0, 70%);
          transform: translate(0, 70%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.circle__active-first.active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.circle__active-second {
  margin-bottom: 50px;
  position: relative;
  -webkit-transform: translate(0, 70%);
      -ms-transform: translate(0, 70%);
          transform: translate(0, 70%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
}
.circle__active-second.active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}
.circle__active-three {
  position: relative;
  -webkit-transform: translate(0, 70%);
      -ms-transform: translate(0, 70%);
          transform: translate(0, 70%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
}
.circle__active-three.active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}
.circle__active-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #008C6B;
  margin-bottom: 40px;
  padding-left: 60px;
  cursor: default;
}
.circle__active-text {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
  padding-left: 60px;
  cursor: default;
}
.circle__active-dir {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-left: 60px;
  cursor: default;
}

@media (max-width: 950px) {
  .exp__progress {
    position: relative;
  }
  .circle__active-first {
    margin-bottom: 50px;
    position: relative;
    -webkit-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
            transform: translate(0, 70%);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .circle__active-first.active {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .circle__active-second {
    margin-bottom: 50px;
    position: relative;
    -webkit-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
            transform: translate(0, 70%);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0;
    -o-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
  }
  .circle__active-second.active {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    opacity: 1;
    -webkit-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .circle__active-three {
    position: relative;
    -webkit-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
            transform: translate(0, 70%);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0;
    -o-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
  }
  .circle__active-three.active {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    opacity: 1;
    -webkit-transition: all 0.5s ease 0.3s;
    -o-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  .circle__active-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #008C6B;
    margin-bottom: 20px;
    padding-left: 60px;
    cursor: default;
  }
  .circle__active-text {
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 39px;
    margin-bottom: 10px;
    padding-left: 60px;
    cursor: default;
  }
  .circle__active-dir {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-left: 60px;
    cursor: default;
  }
}
@media (max-width: 550px) {
  .exp__progress {
    position: relative;
  }
  .circle__active-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #008C6B;
    margin-bottom: 20px;
    padding-left: 60px;
    cursor: default;
  }
  .circle__active-text {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    margin-bottom: 10px;
    padding-left: 60px;
    cursor: default;
  }
  .circle__active-dir {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding-left: 60px;
    cursor: default;
  }
}
.main__portfolio {
  padding: 0 0 110px 0;
}

.portfolio__row-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 10px auto 10px auto;
  -ms-grid-columns: 294px 10px 294px;
      grid-template: repeat(3, auto)/repeat(2, 294px);
  gap: 10px;
}
.portfolio__row-item {
  position: relative;
  width: 287px;
  height: 174px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transform: translate(0, 80%);
      -ms-transform: translate(0, 80%);
          transform: translate(0, 80%);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.portfolio__row-item.active {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.portfolio__row-item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.portfolio__row-item:hover .portfolio__row-text {
  color: #008C6B;
}
.portfolio__row-item img {
  width: 294px;
  height: 180px;
}
.portfolio__row-text {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.184);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: default;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transform: translate(-10%, 0);
      -ms-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.popup__close {
  position: absolute;
  top: 40px;
  right: -20px;
}
.popup__close img {
  width: 30px;
  height: 30px;
}

.popup__img {
  max-width: 800px;
  border-radius: 12px;
}
.popup__img img {
  max-width: 800px;
  border-radius: 12px;
}

@media (max-width: 1150px) {
  .portfolio__row-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto 10px auto;
    -ms-grid-columns: 294px;
        grid-template: repeat(6, auto)/repeat(1, 294px);
    gap: 10px;
  }
}
@media (max-width: 1050px) {
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 10px;
  }
  .popup__content {
    color: #000;
    max-width: 500px;
    padding: 30px;
    position: relative;
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .popup__img {
    max-width: 500px;
    border-radius: 12px;
  }
  .popup__img img {
    max-width: 500px;
    border-radius: 12px;
  }
}
@media (max-width: 800px) {
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 10px;
  }
  .popup__content {
    color: #000;
    max-width: 400px;
    padding: 30px;
    position: relative;
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .popup__img {
    max-width: 400px;
    border-radius: 12px;
  }
  .popup__img img {
    max-width: 400px;
    border-radius: 12px;
  }
}
@media (max-width: 550px) {
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 10px;
  }
  .popup__content {
    color: #000;
    max-width: 330px;
    padding: 30px;
    position: relative;
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .popup__img {
    max-width: 330px;
    border-radius: 12px;
  }
  .popup__img img {
    max-width: 330px;
    border-radius: 12px;
  }
}
.main__slider {
  padding: 0 0 110px 0;
}
.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 70px;
  opacity: 0;
  -webkit-transform: translate(0, 30%);
      -ms-transform: translate(0, 30%);
          transform: translate(0, 30%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.slider__wrapper.active {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arrow-black,
.arrow-black-sec {
  display: none;
}
.arrow-white,
.arrow-white-sec {
  display: block;
}

.slider__arrow {
  position: absolute;
  top: 55%;
  right: -5px;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 34px;
  height: 34px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 2;
}
.slider__arrow img {
  width: 34px;
  height: 34px;
}
.slider__arrow:hover {
  background-color: #008C6B;
}

.slider__arrows {
  position: absolute;
  top: 55%;
  left: -5px;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 34px;
  height: 34px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider__arrows img {
  width: 34px;
  height: 34px;
}
.slider__arrows:hover {
  background-color: #008C6B;
}

.slider__slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__slide .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 700px;
  height: 110%;
}

.slider__slidies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 73px 0 0px;
}

.slider__slidies-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  -webkit-box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.25);
          box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 575px;
  padding: 60px 70px 50px 30px;
  height: 380px;
}

.slider__user {
  margin-right: 12px;
  position: relative;
}
.slider__user-name {
  position: absolute;
  top: -37px;
  left: 40px;
  font-weight: 300;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
  white-space: nowrap;
  color: #fff;
}
.slider__user-name span {
  font-weight: 800;
}
.slider__user-img {
  width: 200px;
  height: 200px;
}
.slider__user-img img {
  width: 200px;
  height: 200px;
}

.slider__content {
  position: relative;
  margin-top: 30px;
}
.slider__content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 248px;
  height: 0.5px;
  background-color: #AFAFAF;
}
.slider__content-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5px;
  cursor: default;
  color: #fff;
}
.slider__content-text {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  max-width: 248px;
  cursor: default;
  color: #fff;
}

@media (max-width: 1250px) {
  .slider__slidies {
    margin: 0 0px 0 0px;
  }
  .slider__arrow {
    top: 50%;
    right: -85px;
  }
  .slider__arrows {
    top: 50%;
    left: -15px;
  }
}
@media (max-width: 1150px) {
  .slider__slidies {
    margin: 0 0px 0 0px;
  }
  .slider__arrow {
    top: 50%;
    right: -15px;
  }
  .slider__arrows {
    top: 50%;
    left: -15px;
  }
  .slider__wrapper {
    padding-left: 0;
    width: 405px;
  }
  .slider__slide .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .slider__slide .slick-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 450px;
    height: 110%;
  }
  .slider__slidies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0px 0 0px;
  }
  .slider__slidies-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background: #000;
    -webkit-box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.25);
            box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    width: 405px;
    padding: 60px 70px 50px 30px;
    height: 280px;
  }
  .slider__user {
    margin-right: 12px;
    position: relative;
  }
  .slider__user-name {
    position: absolute;
    top: -37px;
    left: 5px;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    white-space: nowrap;
  }
  .slider__user-name span {
    font-weight: 800;
  }
  .slider__user-img {
    width: 100px;
    height: 100px;
  }
  .slider__user-img img {
    width: 100px;
    height: 100px;
  }
  .slider__content {
    position: relative;
    margin-top: 30px;
  }
  .slider__content::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 248px;
    height: 0.5px;
    background-color: #AFAFAF;
  }
  .slider__content-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 5px;
    cursor: default;
  }
  .slider__content-text {
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
    text-align: left;
    max-width: 248px;
    cursor: default;
  }
}
@media (max-width: 550px) {
  .slider__slidies {
    margin: 0 0px 0 0px;
  }
  .slider__arrow {
    top: 50%;
    right: 5px;
}
.slider__arrows {
    top: 50%;
    left: 5px;
}
  .slider__wrapper {
    padding-left: 0;
    width: 330px;
  }
  .slider__slide .slick-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 330px;
    height: 110%;
  }
  .slider__slidies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0px 0 0px;
  }
  .slider__slidies-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 50px;
    width: 300px;
    height: 350px;
  }
  .slider__user {
    margin-right: 0;
    position: relative;
  }
  .slider__user-name {
    top: 95px;
    left: 10px;
  }
  .slider__user-img {
    margin-left: 50%;
    width: 100px;
    height: 100px;
  }
  .slider__user-img img {
    width: 100px;
    height: 100px;
  }
  .slider__content {
    position: relative;
  }
  .slider__content::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -25px;
    width: 248px;
    height: 0.5px;
    background-color: #AFAFAF;
  }
  .slider__content-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 5px;
    cursor: default;
  }
  .slider__content-text {
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
    text-align: left;
    max-width: 248px;
    cursor: default;
  }
}
html, body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #000000;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-all {
  max-width: 1260px;
  padding: 0 30px 0 40px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 756px;
  padding: 0 90px 0 70px;
  margin: 0 51px 0 402px;
  height: 100%;
}

h2 {
  text-align: left;
  font-weight: 800;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 50px;
}

@media (max-width: 1250px) {
  .container {
    width: 756px;
    padding: 0 250px 0 0px;
    margin: 0 51px 0 402px;
    height: 100%;
  }
}
@media (max-width: 950px) {
  .container {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 0px 0 0px;
    height: 100%;
  }
  .container-all {
    max-width: 1260px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside {
    padding: 70px 0 0 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    width: 300px;
  }
  .main {
    padding: 650px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 40px;
  }
}
.main__about {
  padding: 85px 0 100px 0;
}

.about__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about__heading-title {
  text-align: right;
  font-weight: 800;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 50px;
}
.about__heading-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1040px) {
  .about__heading-text {
    max-width: 400px;
  }
}
@media (max-width: 950px) {
  .main__about {
    padding: 200px 0 100px 0;
  }
  .about__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__heading-title {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .about__heading-text {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
  }
}
.main__service {
  padding: 0 0 110px 0;
}

.service__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  -ms-grid-columns: auto 20px auto 20px auto;
      grid-template: repeat(2, auto)/repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.service__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
        flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
        justify-content: space-between;
  padding: 15px 45px 35px 45px;
  height: 180px;
  width: 180px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 4px 3px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  -webkit-transform: translate(0, 80%);
      -ms-transform: translate(0, 80%);
          transform: translate(0, 80%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.service__row-item.active {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.service__row-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.service__item-img {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
.service__item-img img {
  width: 75px;
  height: 75px;
}

.service__item-text {
  color: #000000;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  cursor: default;
  margin-top: 23px;
}
@media (max-width: 1120px) {
  .service__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 20px auto 20px auto;
    -ms-grid-columns: 180px 20px 180px;
        grid-template: repeat(3, auto)/repeat(2, 180px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media (max-width: 950px) {
  .service__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
    -ms-grid-columns: auto;
        grid-template: repeat(6, auto)/repeat(1, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.main__message {
  padding: 0 0 220px 0;
}

.message__box {
  margin: 0 auto;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 30%);
      -ms-transform: translate(0, 30%);
          transform: translate(0, 30%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.message__box.active {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.message__anim {
  width: 325px;
  height: 400px;
  border-radius: 10px 0 0 10px;
}
.message__anim img {
  width: 355px;
  height: 400px;
  border-radius: 10px 0 0 10px;
}

.message__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  height: 400px;
  padding: 20px 22px 22px 22px;
  background: #fff;
  border-radius: 0 10px 10px 0;
}

.message__form-row {
  margin-bottom: 10px;
}

.message__form-input {
  padding: 10px 10px 10px 15px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  border-radius: 5px;
  width: 230px;
}

.mess {
  padding: 10px 10px 134px 15px;
  margin-bottom: 6px;
}

.message__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
}

.message__form-btn {
  padding: 13px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #000;
  color: #000;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.message__form-btn:hover {
  color: #fff;
  background-color: #008C6B;
  border: 1px solid #008C6B;
}

@media (max-width: 1250px) {
  .message__box {
    margin: 0 auto;
    width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .message__anim {
    width: 300px;
    height: 398px;
    background-color: #00ACB7;
    border-radius: 10px 0 0 10px;
  }
  .message__anim img {
    width: 300px;
    height: 398px;
  }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 280px;
    height: 398px;
    padding: 20px 22px 22px 22px;
    background: #fff;
    border-radius: 0 10px 10px 0;
  }
}
@media (max-width: 1150px) {
  .message__box {
    margin: 0 auto;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .message__anim {
    width: 415px;
    height: 398px;
    border-radius: 10px 10px 0 0;
  }
  .message__anim img {
    width: 415px;
    height: 398px;
    border-radius: 10px 10px 0 0;
  }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 415px;
    height: 330px;
    padding: 20px 22px 22px 22px;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  .message__form-input {
    padding: 15px 15px 15px 15px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 380px;
  }
  .message__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 380px;
  }
}
@media (max-width: 950px) {
  .message__box {
    margin: 0 auto;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 330px;
    padding: 20px 22px 22px 22px;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 550px) {
  .message__box {
    margin: 0 auto;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .message__anim {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  .message__anim img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  .message__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 310px;
    padding: 20px 22px 22px 22px;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  .message__form-input {
    padding: 15px 15px 15px 15px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 280px;
  }
  .message__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
  }
}